<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:name=".MyApp"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Delivery"
        tools:targetApi="31"
        android:screenOrientation="portrait">


        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity android:name=".Authorization"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration"
            android:exported="true">
        </activity>
        <activity
            android:name=".CourierOrdersHistory"
            android:exported="true">
        </activity>
        <activity
            android:name=".UserActiveOrders"
            android:exported="true">
        </activity>
        <activity
            android:name=".RegisterCourier"
            android:exported="true">
        </activity>
        <activity
            android:name=".LoginCourier"
            android:exported="true">
        </activity>
        <activity
            android:name=".UserOrdersHistory"
            android:exported="true">
        </activity>
        <activity
            android:name=".CourierProfile"
            android:exported="true">
        </activity>
        <activity
            android:name=".CourierOrdersList"
            android:exported="true">
        </activity>
        <activity android:name=".CourierAcceptedOrder"
            android:exported="true">
        </activity>
        <activity
            android:name=".UserProfile"
            android:exported="true" />
        <meta-data
            android:name="com.yandex.maps.mobile.API_KEY"
            android:value="37174936-b5e1-4db7-86b0-9a3a32e1ff5d"/>
    </application>

</manifest>